<?xml version="1.0"?>
<model>
  <name>apriltag_36h11</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <description>
    AprilTag 36h11 家族的 id 0 標記，貼在地面用於視覺降落。
    貼圖由 libapriltag 的 apriltag_to_image() 產生，不是手繪也不是抄來的，
    所以保證與 apriltag_ros 預設的 36h11 解碼器相容。
  </description>
</model>
